<h1><%= @user.name %></h1>
<p>Vos activités au sein de notre communauté</p>

<ul class="list-group">
<% @user.created_events.each do |event| %>
	<li class="list-group-item">
		<%= event.description %>
		<%= link_to "(see more)", event_path(event.id) %>
	</li>
<% end %>
<br/>
<ul class="participation">
<% @user.participated_events.each do |event| %>
	<li class="participation-item">
		<%= event.description %>
		<%= link_to "(see more)", event_path(event.id) %>
	</li>
<% end %>