<h1><%= @event.description %></h1>
<p>Les informations à ne pas louper pour l'évènement</p>


<h5>Description</h5> <%= @event.description %><br/>
<h5>Date</h5> <%= @event.date %><br/>
<h5>Lieu</h5> <%= @event.place %><br/>
<h5>Créé par</h5> <%= @event.creator.name %><br/>
<br/>

<br/>
<h5> Participants </h5>
<ul class="list-group">
<% @event.attendees.each do |user| %>
	<li class="list-group-item">
		<%= user.name %>
		<%= link_to "(see more)", user_path(user.id) %>
	</li>
<% end %>

<%= link_to 'back', events_path %>
